body {
	background-color: #EEEEED;
	color: #020304;
	width: 1310px;
	height: auto;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
    font-family: 'AvenirNext LT Pro' ,sans-serif;
	src: url(./fonts/AvenirNextLTPro-Regular.otf);
}
	
.header { 
	background-color: white;
	width: 1310px;
	height: 90px;
	position: fixed;
}
.logo {
	margin-left: 50px;
	float: left;
	width: 12.3%;
}

ul { 
	width: auto ;
	height: 50px;
	float: right; 
	margin-right: 50px;
	margin-left: 7px;
	display: table;
}

li {
	display: inline-block;
	padding: 15px 25px;
	margin-right: 15px;
}

nav a {
	text-align: center;
	text-decoration: none;
	font-family: 'AvenirNext LT Pro' ,sans-serif;
	font-size: 13px ; 
	display: inline-block;
	color: white;
}

/* indivuele opmaak kopjes navigatiebalk */

#home a {
	text-align: center;
	text-decoration: none;
	color: black;
}

#home a:hover {
	color: red;
}

#overons a {
	text-align: center;
	text-decoration: none;
	color: black;
}

#overons a:hover {
	color: red;
}


#ganges a {
	text-align: center;
	text-decoration: none;
	color: black;
}

#ganges a:hover {
	color: red;
}

#mississippi a {
	text-align: center;
	text-decoration: none;
	color: black;
}

#mississippi a:hover {
	color: red;
}

#menu {
	text-align: center;
	background-color: black;
	color: white;
	font-family: 'AvenirNext LT Pro' ,sans-serif;
	font-size: 13px ;
}


#doneer {
	background: #DF241C;
	text-align: center;
}

#zoek {
	background: #555555;
	text-align: center;
	
}

.SatalietGanges_wallpaper {
	width: 1310px;
	height: 800px;
	object-fit: cover;
}

.SatalietMississippi_wallpaper {
	width: 1310px;
	height: 800px;
	object-fit: cover;
}
.cons_gif {
	width: 1310px;
	height: 800px;
	object-fit: cover;
} 
.neworleansluchtfoto {
	width: 1310px;
	height: 900px;
	object-fit: cover;
}

.modderstroom {
	width: 1310px;
	height: 700px;
	object-fit: cover;
}
	
.text {
	font-family: 'AvenirNext Regular Pro' ,sans-serif;
	font-size: 60px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.buttons {
	font-family: 'AvenirNext Regular Pro' ,sans-serif;
	font-size: 20px;
	color: white;
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.buttons a{
	color: white;
	text-decoration: none;
}
.buttons a:hover{
	color: red;
}
	
.gangestekst {
	background-color: white;
	margin-top: 0px;
}

.gangestekst h2 {
	margin-top: 0px;
	margin-left: 75px;
	margin-right: 75px;
	font-family: 'AvenirNext Regular Pro' ,sans-serif;
}
	
.gangestekst p {
	margin-top: 15px;
	margin-left: 75px;
	margin-right: 75px;
	line-height: 25px;
	font-family: 'AvenirNext Regular Pro' ,sans-serif;
	font-size: 18px;
}

.mississippitekst {
	background-color: white;
	margin-top: -30px;
}
.mississippitekst h2 {
	margin-top: 26px;
	margin-left: 75px;
	margin-right: 75px;
	font-family: 'AvenirNext Regular Pro' ,sans-serif;
}
.mississippitekst p {
	margin-top: 15px;
	margin-left: 75px;
	margin-right: 75px;
	line-height: 25px;
	font-family: 'AvenirNext Regular Pro' ,sans-serif;
	font-size: 18px;
}

.overonstekst {
	background-color: white;
	margin-top: -3px;
}
.overonstekst h2 {
	margin-top: 0px;
	margin-left: 75px;
	margin-right: 75px;
	font-family: 'AvenirNext Regular Pro' ,sans-serif;
}
.overonstekst p {
	margin-top: 15px;
	margin-left: 75px;
	margin-right: 75px;
	line-height: 25px;
	font-family: 'AvenirNext Regular Pro' ,sans-serif;
	font-size: 18px;
}
	
.main {
	height: 900px;
}

.footer {
	height: 220px;
	background-color: #555555;
	display: table;
	box-sizing: border-box;
	color: white;
	font-family: 'AvenirNext LT Pro' ,sans-serif;
	text-decoration: none;	
	line-height: 20px;
}

.footer a {
	text-decoration: none;
	color: white;
}

.footer a:hover{
	color: red;
}

.column { 
	display: table-cell;
	padding: 10px;
	width: 33%;
	text-align: center;
}

/* Media queries alleen voor homepagina*/

@media screen and (max-width: 700px){
	.neworleansluchtfoto {
		width: 53.4%;
	}
	.text {
		font-size: 40px;
	}
	.buttons {
		top: 55%;
		font-size: 15px;
	}
	.logo {
		margin-left: 25px;
		margin-top: 15px;
		float: left;
		width: 8%;
	}
	ul {
		margin-top: 30px;
		width: 500px;
		float: left;
		
	}
	li {
		padding: 5px 5px;
		margin-right: 15px;
	}
	.footer {
		width: 700px;
		font-size: 10px;
	}
}


